# some more common aliases
alias cls="clear"
alias md="mkdir"
alias new="touch"

# some more git aliases
alias gclone="git clone"
alias glog="git log"
alias ginit="git init"
alias gall="git add -A"
alias gadd="git add "
alias gcm="git commit -m "
alias gph="git push"
alias gpl="git pull"
alias gbone="git reset --soft HEAD^"

# You can use the Files app to open the folder at the current path.
alias open="nautilus ."

# c++ code format(Google Style)
alias cxxcodeformat="clang-format -style=Google -dump-config > .clang-format"

# Set the script execution permission to 755
alias c775="chmod 755"
